@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Wide Importers</h1>
    <p class="lead">Wolrd Wide Traders is an online tool for getting in touch with importers all over the world.</p>
    <p><a href="/StockItems?searchTerm=" class="btn btn-primary btn-lg">Try it! &raquo;</a></p>
</div>

