@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework Manager</h1>
    <p class="lead">Homework Manager is a tool to keep you organized!</p>
    <p><a href="/homework/index" class="btn btn-primary btn-lg">Homework Manager &raquo;</a></p>
</div>


